services:
  gds-session:
    image: europe-west1-docker.pkg.dev/gds-aura-artefacts/gds/gds-session:latest # build locally if you dont want to use a released one
    volumes:
      - ./password:/passwords/password
    environment:
      - SESSION_ID=42
      - MODEL_STORAGE_BASE_LOCATION=/models
      - ALLOW_LIST=DEFAULT
      - DNS_NAME=gds-session
      - PAGE_CACHE_SIZE=100M
    ports:
      - "7688:7687"
      - "8080:8080"
      - "8491:8491"


  neo4j:
    image: neo4j:enterprise
    volumes:
      - ${HOME}/.gds_license:/licenses/.gds_license
    environment:
      - NEO4J_AUTH=none # for testing

      - NEO4J_ACCEPT_LICENSE_AGREEMENT=yes

      - NEO4J_server_metrics_prometheus_enabled=true
      - NEO4J_server_metrics_prometheus_endpoint=0.0.0.0:2004
      - NEO4J_server_metrics_filter=*
      - NEO4J_server_metrics_enabled=true
    ports:
      - "7474:7474"
      - "7687:7687"
      - "2004:2004"
    restart: always
