@import "https://neo4j.com/docs/assets/css/site.css";

html.is-clipped--nav #searchbox {
    display: none !important;
}

body.sphinx .navbar-link a {
    color: #3182ce;
}

body.sphinx .navbar-link a.external::after {
    display: inline-block;
    content: "";
    height: 1rem;
    width: 1rem;
    padding: 0;
    background: url(../img/navbar-external.svg) no-repeat;
    background-position: 50%;
}

body.sphinx #searchbox {
    padding: 1.5rem;
}

body.sphinx #searchbox .search,
body.sphinx .content .search {
    display: block;
    opacity: 1;
    position: relative;
    background: initial;
}

@media screen and (min-width: 1024px) {

    body.sphinx .toolbar {
        background: initial;
        box-shadow: none;
        height: 0;
    }

    .navbar-item, .navbar-link {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    body.sphinx .nav-container {
        border: none;
    }
    
    body.sphinx .nav,
    body.sphinx .nav-panel-menu {
        height: auto;
        background: initial;
    }

    body.sphinx .sphinxsidebar {
        background: #f5f7fa;
    }
    
    body.sphinx .nav-panel-menu:not(.is-active)::after {
        background: initial;
    }
    
    body.sphinx .navbar-start {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 63.11111rem;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-right: 2rem;
    }
    
    body.sphinx .navbar-start .navbar-link {
        margin-left: auto;
    }
}

.navbar-item, .navbar-link {
    color: #4a5568;
    line-height: 1.8;
    padding: 0.5rem 1rem;
    position: relative;
}

@media screen and (min-width: 769px) {
    .doc>.sect-header>h1.page:first-child {
        margin-top: 2.5rem;
    }
}

.doc>section>h1:first-child {
    font-size: 2rem;
    margin: 1.5rem 0.5rem 1.5rem 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
    color: #4a5568;
    font-weight: 400;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    line-height: 1.3;
    margin: 2rem 0 1rem;
}

.doc a.headerlink {
    visibility: hidden;
    margin-left: 0.5rem;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink,
caption:hover > a.headerlink,
p.caption:hover > a.headerlink,
div.code-block-caption:hover > a.headerlink {
    visibility: visible;
}

.nav-menu .caption {
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}

.nav-menu ul {
    padding-left: 0;
}

.nav-menu li.toctree-l1 {
    list-style: none;
    position: relative;
}

.nav-menu .toctree-l1>a,
.nav-menu .toctree-l1>span {
    padding-left: 1.5rem;
}

.nav-menu .toctree-l1>a,
.nav-menu .toctree-l1>span {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.nav-menu .toctree-l1 a:hover,
.nav-menu .toctree-l1 span:hover {
    background-color: #e6e9ee;
}

.nav-menu .toctree-l1>a.current {
    background-color: #e6f8ff;
    color: #0056b3;
}

.nav-menu .toctree-l1>a.current::before {
    content: "";
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #0056b3;
    border-radius: 4px;
}

.is-current-page>.nav-link,
.is-current-page>.nav-text {
    font-weight: 400;
}

.toctree-l1>a, .toctree-l1>span {
    position: relative;
    padding-right: 2rem;
}

.nav-menu a, .nav-text {
    color: #535b66;
    font-weight: 400;
    display: block;
    padding: 0.25rem 0;
}

/* lists */

body.sphinx .doc ul li{
    margin-bottom: 0.5rem;
}

/* functions */

body.sphinx .doc dl.py.function {
    padding-top: 2rem;
    padding: 1rem;
    /* border-top: 2px dotted #eee; */
}

/*  deprecated */

body.sphinx .deprecated::after,
body.sphinx .deprecated > *::after {
    content: unset;
}

body.sphinx .doc dl.deprecated,
body.sphinx .doc div.deprecated {
    border-left: 4px solid #d53f8c;
    color: #702459;
    background-color: #fed7e2;
}

body.sphinx .doc dl.deprecated {
    margin-bottom: 0;
    padding-bottom: 0;
}

body.sphinx .doc div.deprecated {
    padding: 1rem;
}
